Rows: 27331 OK
Required columns present